<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="cyclone.otusspring.hw01.runner.PollRunnerImpl">
    <constructor-arg type="cyclone.otusspring.hw01.service.PollDataService" ref="pollDataService"/>
    <constructor-arg type="cyclone.otusspring.hw01.service.AskService" ref="askService"/>
  </bean>

  <bean id="pollDataService" class="cyclone.otusspring.hw01.service.PollDataServiceImpl">
    <constructor-arg ref="pollDao"/>
  </bean>
  <bean id="askService" class="cyclone.otusspring.hw01.service.ConsoleAskService" />


  <bean id="pollDao" class="cyclone.otusspring.hw01.dao.CsvPollDao" >
    <constructor-arg value="/poll.csv"/>

    <!-- Example of providing filename and customizing CSV format -->
    <!--<constructor-arg name="filename" value="/poll-2.csv"/>-->
    <!--<constructor-arg name="csvSeparator" value="|"/>-->
    <!--<constructor-arg name="csvComment" value="&#45;&#45;"/>-->
  </bean>

</beans>