<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="cyclone.otusspring.hw01.runner.PollRunnerImpl">
      <constructor-arg type="cyclone.otusspring.hw01.io.UserIO" ref="userIO"/>
      <constructor-arg type="cyclone.otusspring.hw01.service.ResultService" ref="resultService"/>
    <constructor-arg type="cyclone.otusspring.hw01.service.AskService" ref="askService"/>
      <constructor-arg type="cyclone.otusspring.hw01.service.QuestionService" ref="questionService"/>
  </bean>

    <bean id="resultService" class="cyclone.otusspring.hw01.service.ResultServiceImpl">
        <constructor-arg ref="questionService"/>
  </bean>
    <bean id="askService" class="cyclone.otusspring.hw01.service.AskServiceImpl">
        <constructor-arg ref="userIO"/>
    </bean>


    <bean id="questionService" class="cyclone.otusspring.hw01.service.CsvQuestionService">
    <constructor-arg value="/poll.csv"/>

    <!-- Example of providing filename and customizing CSV format -->
    <!--<constructor-arg name="filename" value="/poll-2.csv"/>-->
    <!--<constructor-arg name="csvSeparator" value="|"/>-->
    <!--<constructor-arg name="csvComment" value="&#45;&#45;"/>-->
  </bean>

    <bean id="userIO" class="cyclone.otusspring.hw01.io.ConsoleUserIO"/>

</beans>